@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Mehrab Hasan</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Application with ASP.Net Core</a>.</p>
</div>
